<div class="testimonial-card">
  <div class="rating">
    @for (star of [1,2,3,4,5]; track $index) {
      @if ($index < testimonial().rating) {
        <svg class="star" viewBox="0 0 24 24" fill="currentColor" stroke="none">
          <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
        </svg>
      }
    }
  </div>
  <p class="testimonial-text">"{{ testimonial().text }}"</p>
  <div class="testimonial-author">
    <p class="author-name">{{ testimonial().name }}</p>
    <p class="author-location">{{ testimonial().location }}</p>
  </div>
</div>
